:host{
    width: 100% !important;
}
.breadcrumb {
    background: none;
    font-size: .98em;
    margin: 0;
    padding: 0;
}
.help {
    font-size: 1.2em;
    margin: 5px;
}
    .breadcrumb text {
        color: darkgrey;
    }
    .breadcrumb a:hover, span:hover {
        text-decoration: none;
    }
    .breadcrumb li{
        list-style: none;
        float: left;
        margin: 5px;
    }
    .breadcrumb li:last-child {
        margin-right: 20px;
    }
    .breadcrumb li::after {
        content: '/';
        color: darkgrey;
    }
    .breadcrumb li:last-child::after {
        content: ''
    }