<div th:fragment="signature">
    <p>
        <img src="https://i.ibb.co/vBgwK0q/logo-Compujuy.jpg" width="150" height="50">
    </p>
    <p style="padding:0px; margin:0px;" >Compujuy - Systems and Networking</p>
    <p style="padding:0px; margin:0px;" ><a href="https://www.compujuy.com.ar" data-mce-href="https://www.compujuy.com.ar">www.compujuy.com.ar</a>
    </p>
    <p style="padding:0px; margin:0px;" ><a href="https://www.facebook.com/Compujuy" data-mce-href="https://www.facebook.com/Compujuy">https://www.facebook.com/Compujuy</a>
    </p>
</div>
