<div *ngIf="producto$ | async as producto; else loading">
    <ng-container *ngIf="producto; else noItems">
        <scroll [style]="{width: '100%', height: heigthScreen +'px'}">
            <div class="row form-group">
                <div class="col-md-7">
                    <div class="form-group margin-bottom-5">
                        <label class="label-detail col-md-6">Nombre:<span
                                class="label-value-detail">{{producto.productoPadre.nombre}}&nbsp;{{producto.nombre}}</span></label>
                        <label class="label-detail col-md-6">Nombre final:<span
                                class="label-value-detail">{{producto.nombreFinal}}</span></label>
                    </div>
                    <div class="form-group margin-bottom-5">
                        <label class="label-detail col-md-6">Tipo:<span class="label-value-detail">Producto
                                {{producto.productosCompuestos.length>0?'Compuesto':'Simple'}}</span></label>
                        <label class="label-detail col-md-6">Familia:<span
                                class="label-value-detail">{{producto.productoPadre.familia.nombre}}</span></label>
                    </div>
                    <div class="form-group margin-bottom-5">
                        <label class="label-detail col-md-6">Contenido Neto:<span
                                class="label-value-detail">{{producto.contenidoNeto}}</span></label>
                        <label class="label-detail col-md-6">Unidad:<span
                                class="label-value-detail">{{producto.unidad.nombre}}</span></label>
                    </div>
                    <div class="form-group margin-bottom-5">
                        <label class="label-detail col-md-6">Precio de costo c/iva:<span class="label-value-detail">$
                                {{producto.precioCosto}}</span></label>
                        <label class="label-detail col-md-6">Precio de venta:<span class="label-value-detail">$
                                {{producto.precioVenta}}</span></label>
                    </div>
                    <div *ngIf="producto.detalle !== ''" class="form-group margin-bottom-5">
                        <label class="label-detail col-md-2">Detalle</label>
                        <div class="col-md-12">
                            <div [innerHTML]="producto.detalle | safeHtml"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div *ngIf="producto.codigoBarras?.length > 0" class="form-group margin-bottom-5">
                        <label class="label-detail col-md-12">Código/s de barra:</label>
                        <div class="col-md-12">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Tipo</th>
                                        <th>Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let codigo of producto.codigoBarras">
                                        <td>{{codigo.codigo}}</td>
                                        <td>{{codigo.tipo===1?'Normal':'Especial'}}</td>
                                        <td>{{codigo.descripcion}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="producto.proveedores?.length > 0" class="form-group margin-bottom-5">
                        <label class="label-detail col-md-2">Proveedores:</label>
                        <div class="col-md-12">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre/Razón social</th>
                                        <th>CUIT</th>
                                        <th>Tipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let proveedor of producto.proveedores">
                                        <td>
                                            <span
                                                *ngIf="proveedor.entidad.empresa">{{proveedor.entidad.empresa.razonSocial}}</span>
                                            <span
                                                *ngIf="proveedor.entidad.persona">{{proveedor.entidad.persona.apellido}}&nbsp;{{proveedor.entidad.persona.nombre}}</span>
                                        </td>
                                        <td>{{proveedor.tipoDocProveedor}} - {{proveedor.nroDocProveedor}}</td>
                                        <td class="">
                                            {{proveedor.tipoProveedor}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="producto.imagenProducto.length > 0" class="form-group margin-bottom-5">
                <label class="label-detail col-md-2">Imagenes</label>
                <div class="col-md-12" ng-controller="ImageController">
                    <ul class="ace-thumbnails clearfix">
                        <li *ngFor="let imagen of producto.imagenProducto" #imgProducts>
                            <image-preview *ngIf="imagen"
                                [path]="pathService.getUrl('/images/products/')" [image]="imagen"
                                [text]="false" [tags]="true" [width]="150" [height]="150" >
                            </image-preview>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="producto.productosCompuestos?.length > 0" class="form-group margin-bottom-5">
                <label class="label-detail col-md-2">Compuesto por:</label>
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre Producto</th>
                                <th>Cantidad</th>
                                <th>Descripción</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pc of producto.productosCompuestos">
                                <td class="">{{pc.producto.id}}</td>
                                <td>{{pc.producto.nombreFinal}}</td>
                                <td>{{pc.cantidad}}</td>
                                <td>{{pc.descripcion}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button ng-click="detailProducto({type: 'producto', id: pc.producto.id});"
                                            class="btn btn-minier btn-white btn-info width-24"
                                            title="Detalle del producto {{producto.productoPadre.nombre}} {{producto.nombre}}">
                                            <i class="ace-icon fa fa-eye bigger-120"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </scroll>
    </ng-container>
    <ng-template #noItems>
        <div class="form-group row alert alert-warning">
            No se encontro información
        </div>
    </ng-template>
</div>
<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
<!-- </div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-2">
            <button type="button" id="btnSaveActBus" name="btnSaveActBus" #btnSaveActBus
                class="btn btn-sm btn-block btn-primary" (click)="save()">Guardar
            </button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-sm btn-block  btn-danger" (click)="cancel()">Salir</button>
        </div>
    </div>
</div> -->