<div class="row">
    <div class="col-md-12">
        <fields-fact-comp [dataForm]="dataForm"></fields-fact-comp>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button (click)="cancel()" class="btn btn-block btn-transition btn-outline-danger"><span
                class="fa fa-remove"></span>&nbsp;&nbsp;Cancelar
        </button>
    </div>
    <div class="col-md-3">
        <button (click)="reset()" class="btn btn-block btn-transition btn-outline-dark"><span
                class="fa fa-trash-o"></span>&nbsp;&nbsp;Limpiar
        </button>
    </div>
    <div class="col-md-3">
        <button (click)="save(1)" class="btn btn-block btn-transition btn-outline-success"><span
                class="fa fa-save"></span>&nbsp;&nbsp;Guardar y nuevo
        </button>
    </div>
    <div class="col-md-3">
        <button (click)="save(2)" class="btn btn-block btn-transition btn-outline-primary"><span
                class="fa fa-save"></span>&nbsp;&nbsp;Guardar y volver
        </button>
    </div>
</div>
