<div *ngIf="dataPresupuesto$ | async as dataPresupuesto; else loading;">
    <ng-container *ngIf="dataPresupuesto; else noItems">
        <form id="formFactVen" [formGroup]="formFactVen" class="form-group-min">
            <div class="card mb-2">
                <div class="card-header container-fluid" id="headingOne">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="float-sm-left">
                                    Datos del cbte.
                                </span>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-3 p-1 buttons-small">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"
                                            title="<p>Seleccione la lista de precios con la cual quiere trabajar en el comprobante</p><p>Seleccion actual:<b>{{f.$$listaPrecio.value?.nombre +' -' +f.$$listaPrecio.value?.id}}</b></p>"
                                            class="btn-transition btn-block dropdown-toggle btn btn-sm btn-outline-primary btn-font-size-7 button-help">
                                            Lis. Precio - {{f.$$listaPrecio.value?.nombre}}
                                        </button>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            <ul class="nav flex-column">
                                                <li *ngFor="let lista of listasPrecio" class="nav-item">
                                                    <a (click)="changeListaPrecio(lista)" class="nav-link">
                                                        <span>
                                                            {{lista.nombre}}
                                                        </span>
                                                        <div *ngIf="lista.active"
                                                            class="ml-auto badge badge-pill badge-success">
                                                            <span class="fa fa-check"></span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-1 buttons-small">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"
                                            title="<p>Seleccione la sucursal en la que aparecera el comprobante, y en donde se buscara y se descontara el stock.</p><p>Seleccion actual:<b>{{f.sucursal.value?.nombre +' - '+f.sucursal.value?.id}}</b></p>"
                                            class="btn-transition btn-block dropdown-toggle btn btn-sm btn-outline-primary btn-font-size-7 button-help">
                                            {{f.sucursal.value?.nombre}}
                                        </button>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            <ul class="nav flex-column">
                                                <li *ngFor="let suc of sucursales" class="nav-item">
                                                    <a (click)="changeSucursal(suc)" class="nav-link">
                                                        <span>
                                                            {{suc.nombre}}
                                                        </span>
                                                        <div *ngIf="suc.active"
                                                            class="ml-auto badge badge-pill badge-success">
                                                            <span class="fa fa-check"></span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                    <div class="card-body">
                        <header-cbte [tipoCbte]="TipoCbte.CBTE_PRESUPUESTO" [data]="dataPresupuesto" (eventChangeCbte)="changeTipoCbte($event)" ></header-cbte>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <items-cbte [data]="dataPresupuesto" [enableIva]="true" (finishViewEvent)="finishViewItems()"
                        [typeCbte]="'VENTA'" [dataForm]="dataForm">
                    </items-cbte>
                </div>
            </div>
            <div class="row form-group">
                <label for="txtObservacion" class="col-md-1 col-form-label padding-right-left-4 label-help">Observación
                    <i title="Detalle, observacion adicional." class="help-ns fa fa-question-circle"></i>
                </label>
                <div class="col-md-11">
                    <input id="txtObservacion" name="txtObservacion" formControlName="observacion" type="text"
                        class="form-control form-control-sm" />
                    <div *ngIf="dataForm.submitted && formFactVen.invalid">
                        <div *ngIf="f.observacion.errors?.maxlength" class="text-danger">
                            Campo muy largo
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row form-group">
                <div class="col-md-12">
                    <items-pago [formasPago]="dataPresupuesto.formasPago" [dataForm]="dataForm" [asociada]="false">
                    </items-pago>
                </div>
            </div> -->
        </form>
    </ng-container>
    <ng-template #noItems>
        <div class="form-group row alert alert-warning">
            Sin datos para cargar una nueva caja
        </div>
    </ng-template>
</div>
<app-size-detector></app-size-detector>
<ng-template #loading>
    <app-loading></app-loading>
</ng-template>