<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow">
        <div class="app-header__logo">
            <div class="logo-src">
            </div>
        </div>
    </div>
    <div class="app-main">
        <div class="container">
            <div class="app-main__inner" style="padding: 0px !important;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-left">
                </div>
                <div class="app-footer-right">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="https://www.compujuy.com.ar" class="nav-link">
                                Power by&nbsp;<img width="100" src="assets/images/logoCompujuy.jpg" alt="Compujuy" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
