<!-- <div class="modal-header modal-danger">
    <h6 class="modal-title" id="modal-basic-title">{{title}}</h6>
    <button type="button" class="close text-danger" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body"> -->
<!-- <div class="row form-group" style="height: 250px !important;">
    <div class="text-center ">
    </div>
    <div class="col-md-12 text-center " style="z-index: 999999; position: relative;"> -->
<div style="height: 250px !important;">
    <canvas id="my-canvas" style="z-index: 1; position: absolute;" class="canvas-jsuper" ></canvas>
    <div class="row form-group" style="margin-top: 10%;">
        <div class="col-md-10 mx-auto">
            <span style="font-size: 30px;">
                {{message}}
            </span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-1 mx-auto">
            <div class="swatch-holder swatch-holder-lg bg-premium-dark text-center" id="Tooltip-1">
                <span style="color: white; font-size: 40px;"  >
                    {{counter}}
                </span>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-2 text-center">
            <span class="fa fa-check font-size-28 text-success"></span>
        </div>
        <div class="col-md-10">
            {{message}}
        </div>
    </div>
</div> -->
<!-- </div>
<div class="modal-footer">
    <div class="row">
        <div class="col-lg-9 col-md-8">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <button (click)="close()" class="btn btn-block btn-transition btn-outline-success"><span
                    class="fa fa-check"></span>&nbsp;&nbsp;Aceptar
            </button>
        </div>
    </div>
</div> -->