<div style="text-align: center;">
    <h1>Bienvenido <span th:text="${nombre}"></span>!! a</h1>
    <a href="https://newstock.compujuy.com.ar" >
        <img src="https://i.ibb.co/z7rQjh4/logo-Newstock2.png" alt="logo-Newstock2" width="280" height="80" border="0" />
    </a>
</div>
<p>Ya sos parte de Newstock, podes usarlo <strong>gratis!!</strong>, ingresá ya mismo!! <a href="https://app.newstock.compujuy.com.ar/">desde aqui</a></p>
<p>Si nesecitas más recursos para el control de tu stock, podes consultar nuestros planes totalmente accesibles.</p>
<p>Toda la administración(gestión de productos, clientes, ventas, compras, cuentas corrientes etc.) lo podes realizar desde la web. Si queres realizar ventas m&aacute;s rapidas te podes descargar el punto de venta gratis e instalarlo en las computadoras que quieras (<a href="https://newstock.compujuy.com.ar/newstock-descarga">Descargar</a>).</p>
<p>Para mas Información visita <a href="https://newstock.compujuy.com.ar"> nuestro sitio </a></p>
<br>
<div th:replace="fragments :: signature"></div>