<form id="formCliente" [formGroup]="formCliente" class="form-group-min">
    <div class="row form-group">
        <label class="col-form-label col-md-2">Persona/Empresa</label>
        <div class="col-md-4">
            <!-- <select-per formControlName="persona" [name]="'selectPersona'" [nextFocus]="'txtTipo'" 
                 [disabled]="cliente?true:false"></select-per> -->
            <select-ent formControlName="entidad" [name]="'selectEntidad'" [nextFocus]="'txtTipo'"
                [disabled]="cliente?true:false"></select-ent>
            <div *ngIf="dataForm.submitted && formCliente.invalid">
                <div *ngIf="f.entidad.errors?.required" class="text-danger">
                    Debe seleccionar una persona o empresa
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-md-2" for="txtTipo">Condicion AFIP</label>
        <div class="col-md-4">
            <select id="txtTipo" name="txtTipo" class="form-control form-control-sm" formControlName="tipoCliente"
                (change)="changeTipoCliente()" enter="txtDetail">
                <option *ngFor="let opcion of dataOptions.tipos" [ngValue]="opcion.value">{{opcion.name}}</option>
            </select>
            <div *ngIf="dataForm.submitted && formCliente.invalid">
                <div *ngIf="f.tipoCliente.errors?.required" class="text-danger">
                    Campo obligatorio
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-md-2" for="cmbTipoDocCli">Tipo doc.</label>
        <div class="col-1">
            <select id="cmbTipoDocCli" name="cmbTipoDocCli" formControlName="tipoDocCliente"
                (change)="changeTipoDoc()" class="form-control form-control-sm" enter="selConceptoCbte">
                <option *ngFor="let doc of dataOptions.docs" title="{{doc.descripcion}}" [ngValue]="doc.value">
                    {{doc.value}}</option>
            </select>
            <div *ngIf="dataForm.submitted && formCliente.invalid">
                <div *ngIf="f.tipoDocCliente.errors?.required" class="text-danger">
                    Debe seleccionar un tipo de documento
                </div>
            </div>
        </div>
        <label class="col-form-label col-1" for="txtDocCli">Número</label>
        <div class="col-md-2">
            <input type="text" id="txtDocCli" name="txtDocCli" formControlName="nroDocCliente" [readonly]="!enableNroDoc"
                class="form-control form-control-sm" enter="cmbTipoCli" />
            <div *ngIf="dataForm.submitted && formCliente.invalid">
                <div *ngIf="f.nroDocCliente.errors?.required" class="text-danger">
                    Debe seleccionar un número de documento
                </div>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <label class="col-form-label col-md-2" for="txtDetail">Observación</label>
        <div class="col-md-9">
            <input id="txtDetail" name="txtDetail" class="form-control form-control-sm" formControlName="observacion"
                enter="btnSaveCliente" maxlength="250" />
        </div>
    </div>
</form>