<div *ngIf="TipoSearch.SEARCH_FILTER==typeSearch" id="divCliente" class="row">
    <div class="col-md-12">
        <app-panel [idCollapse]="'panelFiltro'">
            <form id="formFilter" class="form-group-min">
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-12">
                        <div class="row form-group">
                            <label class="col-form-label col-md-2" for="txtFiltroNombre">Nombre/Razón social</label>
                            <div class="col-md-5">
                                <input type="text" id="txtFiltroNombre" name="txtFiltroNombre"
                                    class="form-control form-control-sm" [(ngModel)]="filterCliente.nombre"
                                    maxlength="30" />
                            </div>
                            <label class="col-form-label col-md-2" for="cmbFiltroTipo">Tipo</label>
                            <div class="col-md-2">
                                <select id="cmbFiltroTipo"
                                    ng-options="opcion.value as opcion.name for opcion in dataOptions.filterTipo"
                                    name="cmbFiltroTipo" class="form-control form-control-sm"
                                    [(ngModel)]="filterCliente.tipoCliente">
                                    <option *ngFor="let opcion of dataOptions.filterTipo" [ngValue]="opcion.value">
                                        {{opcion.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-form-label col-md-2" for="txtFiltroDNI"
                                title="Filtro  para personas">DNI</label>
                            <div class="col-md-2">
                                <input type="number" id="txtFiltroDNI" name="txtFiltroDNI"
                                    class="form-control form-control-sm" [(ngModel)]="filterCliente.dni" minlength="5"
                                    maxlength="11" digits="true" focus-me="true" />
                            </div>
                            <label class="col-form-label col-md-1" for="txtFiltroCUIT"
                                title="Filtro para empresas">CUIT</label>
                            <div class="col-md-2">
                                <input type="number" id="txtFiltroCUIT" name="txtFiltroCUIT"
                                    class="form-control form-control-sm" [(ngModel)]="filterCliente.cuit" minlength="9"
                                    maxlength="12" digits="true" focus-me="true" />
                            </div>
                            <label class="col-form-label col-md-2" for="cmbFiltroActivo">Activos</label>
                            <div class="col-md-2">
                                <select id="cmbFiltroActivo" name="cmbFiltroActivo" class="form-control form-control-sm"
                                    [(ngModel)]="filterCliente.activo">
                                    <option *ngFor="let opcion of dataOptions.filterActivo" [ngValue]="opcion.value">
                                        {{opcion.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12">
                        <div class="row form-group">
                            <div class="btn-group btn-group-sm btn-block" role="group">
                                <button type="submit" (click)="query()"
                                    class="btn btn-transition btn btn-outline-light">
                                    <i class="fa fa-search green-strong"></i>
                                </button>
                                <button type="button" (click)="reset()" class="btn-transition btn btn-outline-light">
                                    <i class="fa fa-trash-o blue"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </app-panel>
    </div>
</div>
<div class="row">
    <div class="col-md-6 buttons-small">
        <button *ngIf="typeView=='LIST'" (click)="enabledOrDisabled(true)" [disabled]="disabledButtonsTable"
            class="btn-sm btn-transition btn btn-outline-success">
            <i class="fa fa-check"></i>&nbsp;Activar
        </button>
        <button *ngIf="typeView=='LIST'" (click)="enabledOrDisabled(false)" [disabled]="disabledButtonsTable"
            class="btn-sm btn-transition btn btn-outline-danger">
            <i class="fa fa-remove"></i>&nbsp;Desactivar
        </button>
        <button *ngIf="typeView=='LIST'" routerLink="/clientes/nuevo"
            class="btn-sm btn-transition btn btn-outline-primary">
            <i class="fa fa-plus"></i>&nbsp;Nuevo
        </button>
    </div>
    <div class="col-md-6 float-right">
        <div *ngIf="TipoSearch.SEARCH_FILTER==typeSearch" class="float-right">
            <app-resgister [paramPagination]="paramPagination" (registerChanged)="pageChanged()">
            </app-resgister>
        </div>
    </div>
</div>
<div *ngIf="clientes$ | async as clientes; else loading;">
    <ng-container *ngIf="clientes.length; else noItems">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="tableClients" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th *ngIf="typeView=='LIST'">
                                    <div class="pretty p-icon p-curve p-pulse mr-0">
                                        <input type="checkbox" [(ngModel)]="checkAll"
                                            (change)="checkAllRow(checkAll, clientes)" />
                                        <div class="state p-primary">
                                            <label></label>
                                        </div>
                                    </div>
                                </th>
                                <th style="width: 8%;">
                                    Tipo Doc.
                                </th>
                                <th style="width: 10%;">
                                    <app-sort *ngIf="TipoSearch.SEARCH_FILTER==typeSearch" [text]="'Nro. Doc.'"
                                        [order]="'nroDocCliente'" [paramPagination]="paramPagination"
                                        (sortChanged)="pageChanged()"></app-sort>
                                    <span *ngIf="TipoSearch.SEARCH_WITHOUT_FILTER==typeSearch">
                                        Nro. Doc.
                                    </span>
                                </th>
                                <th style="width: 24%;">
                                    <app-sort *ngIf="TipoSearch.SEARCH_FILTER==typeSearch" [text]="'Apellido'"
                                        [order]="'persona.apellido'" [paramPagination]="paramPagination"
                                        (sortChanged)="pageChanged()"></app-sort>
                                    <app-sort *ngIf="TipoSearch.SEARCH_FILTER==typeSearch" [text]="'Nombre'"
                                        [order]="'persona.nombre'" [paramPagination]="paramPagination"
                                        (sortChanged)="pageChanged()"></app-sort>|
                                    <app-sort *ngIf="TipoSearch.SEARCH_FILTER==typeSearch" [text]="'Razón social'"
                                        [order]="'empresa.razonSocial'" [paramPagination]="paramPagination"
                                        (sortChanged)="pageChanged()"></app-sort>
                                    <span *ngIf="TipoSearch.SEARCH_WITHOUT_FILTER==typeSearch">
                                        Apellido/Nombre | Razón social
                                    </span>
                                </th>
                                <th>
                                    <span>Tipo entidad</span>
                                </th>
                                <th>
                                    <span>Tipo cliente</span>
                                </th>
                                <th class="" style="width: 16%;">Tiene Cta. Cte.</th>
                                <th style="width: 140px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes; let j = index" [attr.data-row]="j" id="{{'row'+j}}">
                                <td *ngIf="typeView=='LIST'">
                                    <div class="pretty p-icon p-curve p-pulse mr-0">
                                        <input type="checkbox" [(ngModel)]="cliente.$$activo"
                                            (change)="checkRow(clientes)" />
                                        <div class="state p-primary">
                                            <label></label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <!-- <span *ngIf="cliente.entidad.tipo=='PERSONA'">{{cliente.entidad.persona.dni}}</span>
                                    <span *ngIf="cliente.entidad.tipo=='EMPRESA'">-</span> -->
                                    {{cliente.tipoDocCliente}}
                                </td>
                                <td>
                                    <!-- <span
                                        *ngIf="cliente.entidad.tipo=='PERSONA'">{{cliente.entidad.persona.cuil}}</span>
                                    <span
                                        *ngIf="cliente.entidad.tipo=='EMPRESA'">{{cliente.entidad.empresa.cuit}}</span> -->
                                    {{cliente.nroDocCliente}}
                                </td>
                                <td>
                                    <span *ngIf="cliente.entidad.tipo=='PERSONA'">{{cliente.entidad.persona.apellido}}
                                        {{cliente.entidad.persona.nombre}}</span>
                                    <span
                                        *ngIf="cliente.entidad.tipo=='EMPRESA'">{{cliente.entidad.empresa.razonSocial}}</span>
                                </td>
                                <td>
                                    {{cliente.entidad.tipo}}
                                </td>
                                <td>
                                    {{cliente.tipoCliente}}
                                </td>
                                <td *ngIf="cliente.cuentaCorriente" class="">
                                    <span *ngIf="cliente.cuentaCorriente.activo" title="Cuenta corriente activa"
                                        class="green fa fa-check"></span>
                                    <span *ngIf="!cliente.cuentaCorriente.activo" title="Cuenta corriente inactiva"
                                        class="text-warning fa fa-exclamation"></span>&nbsp;
                                    <a *ngIf="typeView=='LIST'"
                                        (click)="updateCtaCte(cliente, cliente.cuentaCorriente);" class="hand"
                                        title="Ver/Editar la Cta. Cte. al cliente seleccionado.">Ver/Editar Cta.
                                        Cte.</a>
                                </td>
                                <td *ngIf="cliente.cuentaCorriente == null" class="">
                                    <span title="No dispone de cuenta corriente en el sistema."
                                        class="red fa fa-remove"></span>&nbsp;
                                    <a *ngIf="typeView=='LIST'" (click)="createCtaCte(cliente);" class="hand"
                                        title="Crear la Cta. Cte. al cliente seleccionado.">Crear Cta. Cte.</a>
                                </td>
                                <td class="buttons-small">
                                    <div class="float-right">
                                        <button *ngIf="typeView=='LIST'"
                                            [routerLink]="['/clientes/modificar', encrypt(cliente.id)]"
                                            title="Modificar el cliente {{getEntidadString(cliente.entidad)}}"
                                            class="btn-sm btn-transition btn btn-outline-primary">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button *ngIf="typeView=='SELECT_CLI'" (click)="select(cliente)"
                                            id="btnSelectClie{{j}}"
                                            title="Seleccionar el cliente {{getEntidadString(cliente.entidad) }}"
                                            class="btn-sm btn-transition btn btn-outline-primary">
                                            <i class="fa fa-hand-o-up"></i>
                                        </button>
                                        <button (click)="detail(cliente)"
                                            title="Ver detalle del cliente {{getEntidadString(cliente.entidad) }}"
                                            class="btn-sm btn-transition btn btn-outline-info">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <button *ngIf="typeView=='LIST'" (click)="remove(cliente)"
                                            title="Eliminar el cliente {{getEntidadString(cliente.entidad) }}"
                                            class="btn-sm btn-transition btn btn-outline-danger">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                        <button *ngIf="typeView=='LIST' && cliente.cuentaCorriente"
                                            [routerLink]="['/clientes/cta-cte/movimientos']"
                                            [queryParams]="{cliente: encrypt(cliente.id), estado:0}"
                                            title="Ver cuenta corriente del cliente {{getEntidadString(cliente.entidad) }}"
                                            class="btn-sm btn-transition btn btn-outline-secondary">
                                            <i class="fa fa-money"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="TipoSearch.SEARCH_FILTER==typeSearch" class="row">
            <div class="container-fluid">
                <ngb-pagination [(page)]="paramPagination.page" [pageSize]="paramPagination.pageSize"
                    [collectionSize]="paramPagination.totalItems" (pageChange)="pageChanged()"
                    [maxSize]="5" [boundaryLinks]="true" class="d-flex justify-content-center">
                </ngb-pagination>
            </div>
        </div>
        <div *ngIf="TipoSearch.SEARCH_WITHOUT_FILTER==typeSearch" class="row">
            <div class="container-fluid">
                <navigation-table [nameTable]="'tableClients'" [nameBtnMain]="'btnSelectClie'"
                    [documentTarget]="'modalBody'" (moreEvent)="more()" [paramPagination]="paramPagination"
                    #navigationTableComponentListCli></navigation-table>
            </div>
        </div>
    </ng-container>
    <ng-template #noItems>
        <div class="form-group row alert alert-warning">
            Sin datos
        </div>
    </ng-template>
</div>
<ng-template #loading>
    <app-loading></app-loading>
</ng-template>