<app-panel [idCollapse]="'panelFiltroP'" [title]="'Padres'" [collapse]="collapse" [iconFilter]="false" [tooltip]="tooltipPadre" >
    <div id="divPadres" class="pt-1 pl-1 pr-1 pb-1" style="border: 1px solid lightgray; height: 180px;"></div>
</app-panel>
<app-panel [idCollapse]="'panelFiltroH'" [title]="'Hijos'" [collapse]="collapse" [iconFilter]="false"  [tooltip]="tooltipHijo" >
    <div id="divHijos" class="pt-1 pl-1 pr-1 pb-1" style="border: 1px solid lightgray; height: 180px;"></div>
</app-panel>